.arabic-font {
  font-family: "Baloo Bhaijaan 2", Arial, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent; /* <-- this is new */
}

body {
  background-color: transparent;
  font-family: Nunito;
  padding-top: 100px;
  min-height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  background-color: transparent;
}

footer {
  text-align: center;
  vertical-align: middle;
}

.header {
  background-color: #d8feff;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
}














.main {
  flex: 1;
  margin: 0;
  margin-left: 70px;
  margin-right: 70px;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 50px;
  padding-bottom: 70px;
  a:visited {
    color: inherit; /* Keeps the original color */

  }

  a {
    text-decoration: none;
  }

  .Clickhere {
    transition: color 0.2s ease;
  }

  .Clickhere:active,
  .Clickhere:hover {
  color: rgb(47, 174, 172);
  text-decoration: underline;
  }

  .Clickhere.active {
    color: rgb(52, 164, 162);
    text-decoration: underline;
  }
}


.BAUTitle {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 45px;
  margin-bottom: 40px;
}

.OurUNI {
  color: rgba(45, 45, 45, 0.812);
  font-weight: bold;
}

.all-container {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 70px;

}

.label-container,
.info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; /* Center the text vertically */
  text-align: right;
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  height: 50px; /* Ensure containers have a set height */
}

.QS, .FA, .ST {
  margin-left: 5px;
  margin-right: 5px;
  line-height: 50px; /* Match line height to the container height */
  color: rgb(52, 164, 162);
}

li {
  font-size: 23px;
  transition: background-color 0.2s;
  list-style-type: disc;
  line-height: 60px;
}


.TORdiv {
  font-size: 9px;
}









@media (max-width: 750px) {

  .BAUTitle {
    font-size: 30px;
  }

  .label-container,
  .info-container {
    display: flex;
    flex-direction: row; /* Change to row to make them side by side */
    justify-content: space-between;
    align-items: center; /* Vertically center the text */
    text-align: left;
    font-size: 20px; /* Adjust font size for better mobile display */
    white-space: nowrap;
    overflow: hidden;
    height: 30px;
  }

  .QS, .FA, .ST {
    line-height: 30px;
  }

  .label-container div, 
  .info-container div {
    margin-right: 10px; /* Add some spacing between labels and stats */
  }

  li {
    font-size: 19px;
    transition: background-color 0.2s;
    list-style-type: disc;
    line-height: 60px;
  }

  .TORdiv {
    font-size: 6px;
  }

}


@media (max-width: 540px) {

  .BAUTitle {
    font-size: 25px;
  }

  .OurUNI {
    font-size: 17px;
    
  }

  .label-container,
  .info-container {
    display: flex;
    flex-direction: row; /* Change to row to make them side by side */
    justify-content: space-between;
    align-items: center; /* Vertically center the text */
    text-align: left;
    font-size: 15px; /* Adjust font size for better mobile display */
    white-space: nowrap;
    overflow: hidden;
    height: 20px;

  }

  .QS, .FA, .ST {
    line-height: 20px;
  }

  .label-container div, 
  .info-container div {
    margin-right: 10px; /* Add some spacing between labels and stats */
  }

  li {
    font-size: 13px;
    transition: background-color 0.2s;
    list-style-type: disc;
    line-height: 50px;
  }

  .TORdiv {
    font-size: 5px;
  }

}

@media (max-width: 380px) {


  .BAUTitle {
    font-size: 20px;
  }

  .OurUNI {
    font-size: 15px;
    
  }

  .label-container,
  .info-container {
    display: flex;
    flex-direction: row; /* Change to row to make them side by side */
    justify-content: space-between;
    align-items: center; /* Vertically center the text */
    text-align: left;
    font-size: 10px; /* Adjust font size for better mobile display */
    white-space: nowrap;
    overflow: hidden;
    height: 15px;

  }

  .QS, .FA, .ST {
    line-height: 15px;
  }

  .label-container div, 
  .info-container div {
    margin-right: 10px; /* Add some spacing between labels and stats */
  }

  li {
    font-size: 10px;
    transition: background-color 0.2s;
    list-style-type: disc;
    line-height: 50px;
  }

  .TORdiv {
    font-size: 4px;
  }

}


@media (max-width: 260px) {

  .BAUTitle {
    font-size: 13px;
  }

  .OurUNI {
    font-size: 10px;
    
  }

  .label-container,
  .info-container {
    display: flex;
    flex-direction: row; /* Change to row to make them side by side */
    justify-content: space-between;
    align-items: center; /* Vertically center the text */
    text-align: left;
    font-size: 6px; /* Adjust font size for better mobile display */
    white-space: nowrap;
    overflow: hidden;
    height: 13px;

  }

  .QS, .FA, .ST {
    line-height: 13px;
  }

  .label-container div, 
  .info-container div {
    margin-right: 10px; /* Add some spacing between labels and stats */
  }

  li {
    font-size: 5px;
    transition: background-color 0.2s;
    list-style-type: disc;
    line-height: 30px;
  }

  .TORdiv {
    font-size: 3px;
  }

}


@media (max-width: 220px) {

  .BAUTitle {
    font-size: 10px;
  }

  .OurUNI {
    font-size: 5px;
    
  }

  .label-container,
  .info-container {
    display: flex;
    flex-direction: row; /* Change to row to make them side by side */
    justify-content: space-between;
    align-items: center; /* Vertically center the text */
    text-align: left;
    font-size: 5px; /* Adjust font size for better mobile display */
    white-space: nowrap;
    overflow: hidden;
    height: 5px;

  }

  .QS, .FA, .ST {
    line-height: 5px;
  }

  .label-container div, 
  .info-container div {
    margin-right: 10px; /* Add some spacing between labels and stats */
  }

  li {
    font-size: 3px;
    transition: background-color 0.2s;
    list-style-type: disc;
    line-height: 20px;
  }

  .TORdiv {
    font-size: 2px;
  }

}

.TOR {
  margin-top: 50px;
}








.end-margin {
  position: relative; 
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 0;
  padding-bottom: 0px;
  padding-top: 10px;
  text-align: center;
  background-color: white;
  border-top: none;
  white-space: nowrap;
  border-color: gray;
  border-width: 0.1px;
  box-shadow: 0px -10px 10px rgba(57, 57, 57, 0.032);

}

.end-margin-text01{
  margin-top: 35px ;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 15px;
  line-height: 0;
}

.end-margin-text03,
.end-margin-text02{
  display: inline-block;
  margin-top: 5px ;
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 15px;
  line-height: 0;
}

.end-margin-text03 {
  line-height: 0;
  margin-top: 0;
}


#copyMessage {
  color: rgb(52, 164, 162);
  position: relative;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  visibility: hidden;
  text-align: center;
  /* Hidden by default */
}

/* Show message with smooth animation */
#copyMessage.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

/* Hide message with smooth animation */
#copyMessage.hide {
  opacity: 0;
  transform: translateY(20px);
  visibility: visible;
  /* Keep it visible for the transition */
}