
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(85, 249, 255, 0.144);
  font-family: Nunito;
  padding-top: 100px;
  min-height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  background-color: rgba(85, 249, 255, 0.144);
}

footer {
  text-align: center;
  vertical-align: middle;
}


.header {
  background-color: #d8feff;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
}

.main {
  flex: 1;
  margin: auto;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 100px;
  padding-bottom: 700px;
}


.main-text03 {
  font-size: 60px;
  color: rgb(97, 97, 97) ;
}

.end-margin {
  position: relative; 
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 0;
  padding-bottom: 0px;
  padding-top: 10px;
  text-align: center;
  background-color: white;
  border-top: solid;
  white-space: nowrap;
  border-color: gray;
  border-width: 0.1px;
  box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.274);
}

.end-margin-text01{
  margin-top: 35px ;
  margin-bottom: 0px;
  font-weight: 700;
  color: rgba(128, 128, 128, 0.596);
  font-size: 20px;
}

.end-margin-text02{
  display: inline-block;
  margin-top: 5px ;
  margin-bottom: 35px;
  font-weight: 700;
  color: rgba(128, 128, 128, 0.596);
  font-size: 20px;

}

.logo {
  width: 300px;
  height: 315px;
  opacity: 0.8;
  margin-bottom: 50px;
  transition: opacity 0.3s;
  cursor: pointer;
  margin: auto;
  margin-left: 20px;
}

.logo:hover {
opacity: 0.6;
}

.logo:active {
  opacity: 1;
}

.main-text01 {
  margin-top: 50px;
  font-weight: 700;
  color: rgb(97, 97, 97) ;
  font-size: 40px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;

}

.main-text02 {
  font-weight: 700;
  color: rgb(97, 97, 97) ;
  font-size: 40px;
  margin-top: 10px;
}

.d-main00 {
  background-color: rgba(204, 193, 193, 0);
  width: 900px;
  text-align: center;
  margin: auto;
  width: 600px;
  display: inline-block;
}

.d-main03,
.d-main02,
.d-main01 {
  vertical-align: middle;
  display: inline-block;
  margin: auto;
  margin-left: 0px;
}

.t-logo {
  margin-top: 500px;
  width: 100px;
  cursor: auto;
}

.join-us {
  color: rgb(0, 0, 0);
  display: block;
  margin: auto;
  text-align: center;
  text-decoration: none;
  font-size: 50px;
  transition: opacity 0.7s, color 0.7s;
}

.join-us:hover {
  opacity: 0.5;
}

.join-us:active {
  color: rgba(128, 128, 128, 0.774);
}

.main-text04,
.main-text05 {
  font-size: 30px;
}

.main-text04 {
  margin-top: 500px;
}

.main-text05 {
  margin-top: 700px;
}

.half-h {
transition: opacity 0.5s;
}

.half-h:hover {
opacity: 0.75;
}

.half-h:active {
  opacity: 0.9;
}