
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: transparent;
  font-family: Nunito;
  padding-top: 100px;
  min-height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  background-color: transparent;
}

footer {
  text-align: center;
  vertical-align: middle;
}

.header {
  background-color: #d8feff;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
}

.main {
  flex: 1;
  margin: auto;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 100px;
  padding-bottom: 700px;
}

.end-margin {
  position: relative; 
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 0;
  padding-bottom: 0px;
  padding-top: 10px;
  text-align: center;
  background-color: white;
  border-top: none;
  white-space: nowrap;
  border-color: gray;
  border-width: 0.1px;
  box-shadow: -5px 0px 10px  rgba(0, 0, 0, 0.031);
}

.end-margin-text01{
  margin-top: 35px ;
  margin-bottom: 0px;
  font-weight: 700;
  color: rgba(128, 128, 128, 0.596);
  font-size: 20px;
}

.end-margin-text02{
  display: inline-block;
  margin-top: 5px ;
  margin-bottom: 35px;
  font-weight: 700;
  color: rgba(128, 128, 128, 0.596);
  font-size: 20px;

}