#contact-container {
  font-family: Arial, sans-serif;
}

#contact-container header {
  text-align: center;
  margin: 50px;
}

#contact-container .scroll-section {
  padding: 50px;
  margin: 50px 0;
  border: 1px solid #ccc;
  opacity: 0; /* Hidden initially */
  transform: translateY(50px); /* Moves content below */
  transition: all 0.5s ease-out;
}

#contact-container .scroll-section.visible {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Back to its normal place */
}

/*-------------------------------------------*/