#contact-container {
  font-family: Nunito, Arial;
  padding-bottom: 3000px;
}

#contact-container header {
  text-align: center;
  margin: 50px;
}

.scroll-section {
  padding: 50px;
  margin: 50px 0;
  opacity: 0; /* Hidden initially */
  transition: all 0.5s ease-out;
}

/* Default animation for all sections except Section 1 */
.scroll-section:not(#section1) {
  transform: translateY(50px); /* Default Y animation */
}

.scroll-section:not(#section1).visible {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* Moves to its normal position */
}

/* Specific animation for Section 1 */
#section1 {
  transform: translateX(50px); /* Moves content off to the right */
}

#section1.visible {
  opacity: 1; /* Fully visible */
  transform: translateX(0); /* Back to its normal position */
}


/*-------------------------------------------*/

h1 {
  font-size: 50px;
}

h2 {
  font-weight: 900;
}

#section4,
#section3,
#section2,
#section1 {
  font-size: 4.25rem;
  text-align: left;
}

#section4,
#section3,
#section2 {
  text-align: center;
}

#section3 {
  margin-bottom: 50px;
}