.side-bar-container {
  background-color: white;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 30px 0px 30px;
  position: fixed;
  left: 0; 
  top: 95px; 
  height: 100px; 
  right: 0; 
  border: none;
  border-bottom: none;
  border-bottom-color: gray ;
  border-bottom-width: 0.1px ;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.031);
  transform: translateY(-100%); /* Hide initially */
  transition: transform 0.39s ease-in-out, opacity 0.39s ease-in-out, visibility 0.39s ease-in-out; /* Smooth transition */
  visibility: hidden ; 
  z-index: 1; 
}

.side-bar-container.show {
  transform: translateY(0); /* Slide into view from below */
  visibility: visible; /* Show content */
}

.section-nav {
  display: flex;
}

.nav-bar.active {
  border-bottom-color: rgb(0, 0, 0);
  border-bottom-width: 1px;
  outline: none; /* Remove default outline */
}

.nav-bar {
  color: rgba(57, 57, 57, 0.696);
  padding: 0px 20px 0px 20px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  cursor: pointer ;
  text-align: center;
  font-size: 14px;
  white-space: nowrap;
  transition: background-color 0.3s;
  border: none;
  border-bottom: solid transparent; /* Start with transparent border */
  border-width: 1px; /* Set border width */
  transition: border-bottom-color 0.4s ease-in-out, border-bottom-width 0.4s ease-in-out; /* Transition properties */
  background-color: transparent;
}

.nav-bar5 {
  color: rgba(57, 57, 57, 0.696);
  padding: 0px 20px 0px 20px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  cursor: pointer ;
  font-size: 14px;
  white-space: nowrap;
  background-color: transparent;
  border: none;
  border-bottom: solid transparent; /* Start with transparent border */
  border-width: 1px; /* Set border width */
  transition: border-bottom-color 0.4s ease-in-out, border-bottom-width 0.4s ease-in-out; /* Transition properties */
  background-color: transparent;
}

.nav-bar:hover,
.nav-bar5:hover {
  background-color: rgba(237, 237, 237, 0.202);
  border-color: rgba(0, 0, 0, 0.417); /* Specify the border color */
  border-width: 1px ;
}

.nav-bar:focus,
.nav-bar5:focus,
.nav-bar.active,
.nav-bar5.active {
    border-bottom-color: rgb(0, 0, 0); /* Ensure the border stays */
    border-bottom-width: 1px; /* Ensure the border width */
    outline: none; /* Remove default outline */
}

/* For max-width 619.9 */
 @media (max-width: 619.9px) {
  #nav-bar2,
  #nav-bar4 {
    display: none;
  }
} 

@media (max-width: 605.09px) {
  #nav-bar2,
  #nav-bar4 {
    display: none;
  }
}

@media (max-width: 547.99px) {

  .side-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }

  #nav-bar2,
  #nav-bar4 {
    display: none;
  }
}

@media (max-width: 533.55px) {


  .nav-bar,
  .nav-bar5 {
    white-space: normal;
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  .side-bar-container {
    display: flex;
    justify-content: space-between;
  }

  #nav-bar3,
  #nav-bar2,
  #nav-bar4 {
    display: none;
  }

  .nav-bar,
  .nav-bar5 {
    white-space: normal;
    font-size: 20px;
  }
}

@media (max-width: 285.75px) {

  .nav-bar,
  .nav-bar5 {
    white-space: normal;
    font-size: 12px;
  }

  #nav-bar4,
  .nav-bar5 {
    display: none;
  }
}

/* For max-width 272.40px */
@media (max-width: 272.40px) {

  #nav-bar4,
  .nav-bar5 {
    display: none;
  }
}

@media (max-width: 250px) {

  #nav-bar3,
  #nav-bar2 {
    display: none;
  }
 
}

.arabic-font {
  font-family: "Baloo Bhaijaan 2", Arial, sans-serif;
}