

:root {
  /* Light theme variables (default) */
  --bg-color: #ffffff;
  --text-color: rgb(0, 0, 0); /* General text color */
  --specific-text-color: gray; /* Specific text color variable */
  --header-bg: #ffffff;
  --link-color: rgb(94, 93, 93);
  --link-hover-color: rgb(52, 164, 162);
  --bottom-border-color: gray;
  --footer-text-color: gray;
  --header-shadow: rgba(0, 0, 0, 0.1);
  --header-border: 0px solid gray;
}

/* Dark theme variables */
[data-theme='dark'] {
  --bg-color: #454545f9;
  --text-color: #f0f0f0; /* General text color */
  --specific-text-color: rgb(255, 255, 255); /* Specific text color for dark theme */
  --header-bg: #303030;
  --link-color: rgb(162, 162, 162);
  --link-hover-color: rgb(44, 201, 199);
  --bottom-border-color:  rgb(255, 255, 255);
  --header-shadow: rgba(0, 0, 0, 0.15);
  --header-border: 1px solid #50c7c700;
}


/* Apply the theme variables */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

/* Header container styles */
.header-container {
  background-color: var(--header-bg);
  color: var(--text-color);
  box-shadow: 0px 0px 10px var(--header-shadow);
  border-bottom: var(--header-border);
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out, border-color 0.4s ease-in-out;
}

/* Link styles */
a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

/* Button styles */
.right-section button {
  color: var(--specific-text-color);
  transition: color 0.3s;
}

.login-button:hover,
.register-button:hover {
  color: rgb(52, 164, 162);
}

.nav-button {
  opacity: 0.7;
  background-color: transparent;
  border: none;
  margin-left: 5px;
  cursor: pointer;
  transition: opacity 0.2s;
  touch-action: manipulation;
}


.nav-button:hover {
  opacity: 1;
}

.logo-container:hover .header-logo {
  opacity: 0.85;
}

/* Side Bar styles */
.side-bar-container {
  background-color: var(--header-bg);
  color: var(--specific-text-color);
}

.side-bar-container .nav-bar,
.side-bar-container .nav-bar5 {
  color: var(--specific-text-color);

}

.side-bar-container .nav-bar:hover,
.side-bar-container .nav-bar5:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: var(--bottom-border-color);

}

.side-bar-container .nav-bar.active,
.side-bar-container .nav-bar5.active {
  border-bottom-color: var(--bottom-border-color);
  border-bottom-width: 1px;
}

/* Footer styles */
.end-margin {
  background-color: var(--bg-color);
  color: var(--footer-text-color);
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.end-margin-text01,
.end-margin-text02 {
  color: var(--footer-text-color);
}
