

:root {
  /* Light theme variables (default) */
  --bg-color: #ffffff;
  --text-color: rgb(0, 0, 0); /* General text color */
  --specific-text-color: gray; /* Specific text color variable */
  --header-bg: #ffffff;
  --link-color: rgb(94, 93, 93);
  --link-hover-color: rgb(52, 164, 162);
  --bottom-border-color: gray;
  --footer-text-color: gray;
  --header-shadow: rgba(0, 0, 0, 0.1);
  --header-border: 0px solid gray;
  --lang-bg: white;
  --lang-txt: rgb(96, 96, 96); 
  --lang-hover: #f1f1f1;
  --nav-hover: rgba(122, 122, 122, 0.034) ;
  --drop-down: rgba(44, 44, 44, 0.068);
  --selc-la: rgba(82, 82, 82, 0.123);
}

/* Dark theme variables */
[data-theme='dark'] {
  --bg-color: #454545;
  --text-color: #f0f0f0; /* General text color */
  --specific-text-color: rgb(255, 255, 255); /* Specific text color for dark theme */
  --quote: black;
  --header-bg: #303030;
  --link-color: rgb(162, 162, 162);
  --link-hover-color: rgb(44, 201, 199);
  --bottom-border-color:  rgb(255, 255, 255);
  --header-shadow: rgba(0, 0, 0, 0.15);
  --header-border: 1px solid #50c7c700;
  --lang-bg: rgba(59, 59, 59, 0.961);
  --lang-txt: white; 
  --lang-hover: #555555;
  --nav-hover: rgba(255, 255, 255, 0.048);
  --drop-down: rgba(255, 255, 255, 0.082);
  --selc-la: rgb(58, 58, 58);
}


/* Apply the theme variables */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

/* Header container styles */
.header-container {
  background-color: var(--header-bg);
  color: var(--text-color);
  box-shadow: 0px 0px 10px var(--header-shadow);
  border-bottom: var(--header-border);
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out, border-color 0.4s ease-in-out;
}

/* Link styles */
a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

/* Button styles */
.right-section button {
  color: var(--specific-text-color);
  transition: color 0.3s;
}

.login-button:hover,
.register-button:hover {
  color: rgb(52, 164, 162);
}

.nav-button {
  opacity: 0.7;
  background-color: transparent;
  border: none;
  margin-left: 5px;
  cursor: pointer;
  transition: opacity 0.2s;
  touch-action: manipulation;
}


.nav-button:hover {
  opacity: 1;
}

.logo-container:hover .header-logo {
  opacity: 0.85;
}

/* Side Bar styles */
.side-bar-container {
  background-color: var(--header-bg);
  color: var(--specific-text-color);
}

.side-bar-container .nav-bar,
.side-bar-container .nav-bar5 {
  color: var(--specific-text-color);
  transition: background-color 0.3s, border-bottom-color 0.3s ease-in-out,
    border-bottom-width 0.3s ease-in-out;
}

.side-bar-container .nav-bar:hover,
.side-bar-container .nav-bar5:hover {
  background-color: var(--nav-hover);
  border-bottom-color: var(--bottom-border-color);

}

.side-bar-container .nav-bar.active,
.side-bar-container .nav-bar5.active {
  border-bottom-color: var(--bottom-border-color);
  border-bottom-width: 1px;
}

/* Footer styles */
.end-margin {
  background-color: var(--bg-color);
  color: var(--footer-text-color);
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.end-margin-text01,
.end-margin-text02 {
  color: var(--footer-text-color);
}

.mark {
  position: relative;
}



.dropdown-content {
  position: absolute;
  left: -17px;
  bottom: -105px;
  background-color: var(--header-bg);
  min-width: 140px;
  z-index: 1;
  padding: 10px;
}

.dropdown-content button {
  background-color: var(--header-bg);
  transition: background-color 0.29s;
  border: none;
  padding: 10px;
  padding-left: 20px;
  border-radius: 1px;
  text-align: left;
  width: 100%;
  cursor: pointer;
}

.dropdown-content button:hover {
  background-color: var(--drop-down);
}

.dropdown-content button:active,
.dropdown-content button:focus {
  background-color: var(--header-bg);
  outline: none;
  box-shadow: none;
  border: none;
}





.nested-dropdown-content {
  position: absolute;
  background-color: var(--header-bg);
  padding: 10px;
  top: 0;
  z-index: 2;
  right: auto;
  left: -130px;
  width: 110px;
}

#theme-dropdown {
  right: auto;
  left: -210px;
  width: 190px;
}

.nested-dropdown-content button {
  background-color: var(--header-bg);
  border: none;
  padding: 10px;
  text-align: left;
  width: 100%;
  cursor: pointer;
 
}

.nested-dropdown-content button:hover {
  background-color: var(--drop-down);
}

.nested-dropdown-content button.active {
  background-color: var(--selc-la);
}

@media (max-width: 650px) {

  #theme-dropdown {
      left: 159px;
    }

    .nested-dropdown-content {
      left: 160px;
      min-width: 120px;
    }
}

body.arabic-font .dropdown-content button {
  text-align: right;
}


.logo-aboutus:hover {
  border-color:var(--text-color); /* Change to the desired color on hover */
  opacity: 1; /* Set to full opacity */
  cursor: crosshair;
}

.desc {
  font-size: 15px;
  color: var(--text-color)
}