







.div10-1 {
  display: inline-block;
}

.dog2 {
  display: inline-block;
  width: 23px;
  border-radius: 100px;
  vertical-align: middle;
  margin-left: 6px;
}

.friends0x {
  display: inline-block;
  vertical-align: middle;
}







.div9 {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  width: 360px;
}


.div9-3 { 
  background-color: rgb(255, 255, 255);
  display: inline-block;
 }  

.oliver000 {
  font-weight: 600;
  font-size: 12.4px;
  margin-top: 0px;
  margin-bottom: 3.8px;
}

.the-cat {
  font-size: 12.9px;
  color: gray;
  margin-bottom: 4.3px;
  margin-top: 0px;
}

.popular000 {
  color: gray;
  font-size: 11.1px;
  margin-bottom: 0px;
  margin-top: 0px;
}


.follow-button {
  background-color: rgb(0, 140, 255);
  color: rgb(255, 255, 255);
  border: none;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  border-radius: 3.5px;
  padding-left: 11px;
  padding-right: 11px ;
  font-weight: bold;
}



.div9-2 {
background-color: rgb(255, 255, 255);
display: inline-block;
width: 150px;
font-family: arial;
font-size: 12px;
vertical-align: middle;
margin-left: 10px;
margin-right: 20px;
}


.div9-1 {
  background-color: rgb(255, 255, 255);
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
}

.div9-1-cat {
  width: 50px;
  height: 50px;
  border-radius: 100px ;
}


.div8-1 {
  display: block;
  margin-bottom: 50px;
  margin-top: 15px;
}


.lucky, 
.google-search {
background-color: rgba(163, 163, 163, 0.199);
border: none;
padding-top: 9px;
padding-bottom: 9px;
padding-left: 17px;
padding-right: 17px;
font-size: 10px;
margin-top: 1px;
transition: background-color 0.3s;
cursor: pointer;
}


.lucky:hover, 
.google-search:hover {
  background-color:rgba(163, 163, 163, 0.301);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.11);
  border-style: solid;
  border-width: 0.01px;
  border-color: rgba(128, 128, 128, 0.301);
}

.google-search {
  margin-right: 10px;
}

.div8 {
  background-color: rgb(255, 255, 255);
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}



.div3 {
  font-family: arial;
  border-style: solid;
  border-width: 0.5px;
  padding-left: 18px;
  padding-bottom: 20px;
  width: 300px;
  margin-top: 40px;
  margin-bottom: 40px;
}


.div4 {
  background-color: rgb(43, 43, 43);
  color: white;
  font-family: arial;
  padding-left: 18px;
  padding-top: 19px;
  padding-bottom: 19px;
  width: 389px;
}

.YT {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bolder;
  font-size: 24px;
}

.YT0 {
  color: rgba(170, 170, 170, 0.877);
  margin-bottom: 0px;
  margin-top: 15px;
}

.div5 {
  background-color: rgb(255, 255, 255);
  width: 217.5px;
  padding-left: 7px;
  margin-bottom: 20px;
  box-shadow: 1px -0.5px 3px rgba(0, 0, 0, 0.274);
  border-radius: 5px;
  margin-top: 0px ;
}
.div7 {
  margin-left: 10px;
}

.div7,
.div6{
display: inline-block;
background-color: rgba(255, 255, 255, 0.568);
box-shadow: 1px -0.5px 3px rgba(0, 0, 0, 0.322);
margin-bottom: 30px;
padding-bottom: 8.5px;
width: 150px;
font-family: arial;
}

.div6-cat {
  width: 150px;
  height: 150px;
}

.oliver {
  margin-top: 3px;
  margin-bottom: 0px;
  margin-left: 5px;
  font-weight: bolder;
  font-size: 12px;
}

.friends {
  font-size: 10px;
  margin-top: 3.5px;
  color: rgb(66, 66, 66);
  padding-left: 5px;
}

.add-friend {
  background-color: rgb(0, 102, 255);
  color: white;
  border: none;
  border-radius: 2px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 11.1px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
}












































.div1 {
  background-color: red;
  color: red;
  width: 100px;
  height: 100px;
  margin-bottom: 50px;
}


.div2 {
  background-color: green;
  color: rgb(255, 255, 255);
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-top: 30px;
}



.ride {
  font-family: arial;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 0px;
}




.uber-button112 {
  background-color: rgba(158, 158, 158, 0.219);
  color: black;
  margin-right: 4px;
  border: none;
  border-radius: 0.5px ;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  transition: opacity 0.3s;
  cursor: pointer;
  margin-bottom: 30px;
}

.uber-button112:hover {
  opacity: 0.79;
}


.uber-button111 {
  background-color: black;
  margin-right: 4px;
  color: white;
  border: none;
  border-radius: 0.5px ;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  transition: opacity 0.3s;
  cursor: pointer;
  margin-bottom: 20px;
}

.uber-button111:hover {
  opacity: 0.79;
}

.destination,
.location {
  background-color: rgba(158, 158, 158, 0.219);
padding-left: 15px ;
padding-top: 13.5px;
padding-bottom: 13.5px;
width: 300px;
border: none;
} 

.destination {
  display: block;
  margin-top: 6px;
  margin-bottom: 30px;
}





















.v20 {
  background-color: rgb(255, 255, 255);
}


.w20-4 {
background-color: rgb(0, 140, 255);
border: none;
border-radius: 4.5px;
color: white;
padding-left: 94px;
padding-right: 94px;
padding-top: 9px;
padding-bottom: 9px;
font-weight: bolder;
}

.w20-1,
.w20-2 {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  padding-left: 9px;
  width: 100px;
  margin-bottom: 10px;
  padding-right: 0px;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.w20-2 {
  width: 112px;

}
.w20-3 {
  display: block;
  width: 222px;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 9px;
}

.v19 {
  background-color: rgb(255, 255, 255);
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.URL-box1 {
  font-size: 10px;
  font-weight: 500px;
  padding-left: 15px;
  padding-right: 200px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(105, 105, 105, 0.342);
  border-radius: 100px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
  box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.123);
}

.URL-box1:focus {
  outline-style: none;
}

.google {
display: block;
margin: auto;
width: 99px;
height: 33px;
}


.w101 {
  display: inline-block;
  vertical-align: middle;
}

.thanks {
  width: 200px;
  margin-right: 0px ;
  display: inline-block;
  vertical-align: middle;
}

.i1, i2 {
  display: block;
}

.i1 {
  margin-bottom: 5px;
}



.v16 {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0);
  display: inline-block;
}

.catx {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 200px;
}

.twitter {
  border: none;
  font-size: 10px;
  vertical-align: middle;
}

.twitter:focus {
  outline-style: none;
}

.tweet-button000 {
  font-size: 8px;
  background-color: rgb(17, 140, 241);
  font-weight: bolder;
  color: white;
  border: none;
  border-radius: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  vertical-align: middle;
}












.v15 {
  background-color: rgba(203, 225, 233, 0.39);
}

.email-box {
  font-family: arial;
  font-size: 9px;
  color: rgb(97, 97, 97);
  margin-bottom: 5px;
}

.emial-box01 {
  margin-top: 0px;
}

.policy {
  font-size: 7.2px;
  font-family: Arial;
}

.policy-button {
  background-color: rgb(10, 102, 194);
  color: white;
  border: none;
  border-radius: 30px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 10px;
  transition: backgtwelvth-divround-color 0.3s;
  cursor: pointer;
}
.v14 {
  background-color: aliceblue;
}


.URL-box {
  padding-left: 16px;
  padding-right: 200px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(105, 105, 105, 0.342);
  border-radius: 100px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
  box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.123);
}

.URL-box:focus {
  outline-style: none;
}

.v13 {
  background-color: aliceblue;
}

.Search-box {
  padding-left: 13px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(128, 128, 128, 0.384);
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

.Search-box:focus {
  outline-style: none;
}





.v10 {
  background-color: rgba(105, 105, 105, 0.123);
}

.cat01 {
  margin-bottom: 0px;
  width: 90px;
  height: 90px;
  border-radius: 20px;
}

.cat02 {
  width: 90px;
  height: 90px;
  border-radius: 0px;
  object-fit: cover;
  object-position: center;
}

.v11 {
  background-color: rgba(105, 105, 105, 0.123);
  margin-top: 0px;
}

.v12 {
  background-color: rgba(105, 105, 105, 0.123);
}

.cat03 {
  width: 90px;
  height: 90px;
  border-radius: 90px;
  margin-bottom: 0px;
}




.v9 {
  background-color: rgba(211, 233, 247, 0.233);
  text-align: center;
  font-family: montserrat;
  padding-bottom: 5px ;
  padding-top: 10px ;

}


.model3 {
  margin-top: 0px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 6.5px;
}

.touch0 {
  text-decoration: underline;
}

.touch {
  font-size: 10px;
  margin-top: 0px;
}




.v8 {
  background-color: rgba(243, 243, 243, 0.452);
  font-family: arial;
  width: 180px;
}

.name01 {
  font-weight: bold;
  font-size: 5.5px;
  margin-bottom: 3px;
}

.name02:hover {
  text-decoration: underline;
}

.name02 {
  font-weight: normal;
  color: gray;
  cursor: pointer;
}

.post001 {
  margin-top: 0px;
  font-size: 5.5px;
}

.post002 {
  font-size: 5px;
}

.mention {
  color: rgb(0, 158, 211);
  cursor: pointer;
}

.mention:hover {
  text-decoration: underline;
}



.first-div {
  background-color: lightgoldenrodyellow;
  margin-bottom: 10px; 
  margin-top: 0px;
}

.sec-div {
  background-color: lightpink;
  margin-top: 0px;
  margin-bottom: 00px;
}

.third-div {
  background-color: lightblue;
}

.forth-div {
  margin-top: 10px;
  background-color: lightgreen;
}

.fifth-div {
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: lightgray;
  }

.sixth-div {
  margin-bottom: 5px;
  margin-top: 7px;
  display: block;
  background-color: aliceblue;
}

.seventh-div {
  margin-bottom: 10px;
  margin-top: 7px;
  display: block;
  background-color: rosybrown;
}

.eighth-div {
  margin-bottom: 5px;
  background-color: lightgray;
}

.ninth-div {
  background-color: lightskyblue;
}

.tenth-div {
  background-color: rgba(224, 207, 236, 0.767);
  margin-bottom: 10px;
  display: block;
}

.eleventh-div {
background-color: rgba(14, 255, 14, 0.171);
margin-bottom: 5px;
}


.twelvth-div {
  background-color: rgb(255, 255, 255);
  margin-bottom: 10px;
}

.v1 {
  margin-bottom: 9px;
}

.v2 {
  background-color: antiquewhite;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.v3 {
  background-color: rgb(255, 255, 255);
  margin-bottom: 30px;
  margin-top: 10px
}
  

.v4 {
  margin-bottom: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 220px;
}


.v5 {
  background-color: rgba(32, 178, 171, 0.205);
  text-align: center;
  font-family: arial;
  margin-top: 5px;
}
 

.v6 {
  background-color: rgba(177, 221, 221, 0.37) ;
  text-align: center;
  font-family: arial;
  margin-bottom: 15px;
}

.v7 {
 background-color: rgba(214, 214, 214, 0.274);
 font-family: arial;
}



.stat {
  font-size: 16.5px;
  margin-bottom: 5px;
}

.usd {
  font-size: 11px;
  margin-left: 2px;
  color: gray;
}

.today {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 8.5px;
  color:rgb(0, 150, 0);
}

.hours {
  color: rgb(95, 95, 95);
margin-top: 5px;
font-size: 8.6px;
}

.hours0 {
  color: red;

}


.new {
  color: rgb(228, 156, 2);
  font-weight: bold;
  font-size: 10px;
  margin-bottom: 0px;  

}

.mac {
  margin-top: 6.5px;
  font-weight: bold;
  font-size: 18.5px;
  margin-bottom: 0px;
}

.pros {
  margin-top: 1.5px;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 0px;
}

.moneys {
  margin-top: 10px;
}

.buys {
  background-color: rgb(0, 132, 255);
  color: white;
  border: none;
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 0.3s;
}

.buys:hover {
  opacity: 0.9;
}

.shop {
  margin-top: 5px;
  font-weight: bold;
  margin-bottom: 0px;
}

.help {
  margin-top: 10px;
  font-size: 9.5px;
  margin-bottom: 5px;
}

.learn {
  margin-top: 0px;
  display: inline-block;
  color: rgb(71, 133, 214);
  font-size: 9.4px;
  cursor: pointer;
}

.learn:hover {
  text-decoration: underline;
}











.HTML {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0px;
}

.pro {
  color: rgb(102, 102, 102);
  font-size: 14.4px;
  margin-top: 2.5px;
}

.course {
  font-size: 14px;

}

.get-started {
  background-color: rgba(0, 128, 0, 0.849);
  border: none;
  color: white;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px ;
  cursor: pointer;
}















.sales1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 0px;
}

.sales2 {
  margin-top: 2px;
  font-size: 10.8px;
  font-family: arial;
  color: red;
  font-style: italic;
}

.tahoma {
  font-weight: bold;
}


.button-all {
  background-color: rgba(0, 128, 0, 0.849);
  border: none;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  margin-left: 3.5px;
  margin-right: 3.5px;
  cursor: pointer;
  transition: padding 0.2s;
}

.button-all:hover {
  padding-left: 15px;
  padding-right: 15px;

}









.three-d-button {
  background-color: rgba(0, 128, 0, 0.815);
  color: white;
  border: none;
  padding-top: 4.9px;
  padding-bottom: 4.9px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.562);
}

.three-d-button:active {
  box-shadow: none;
  margin-left: 3px;
  margin-top: 3px;
}


.stretch-button {
  background-color: rgba(0, 128, 0, 0.815);
  color: white;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  transition: padding 0.3s;
}

.stretch-button:hover {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
}




























.one {
  display: inline-block;
  text-decoration: underline;
  margin-right: 12px;
  color: rgb(66, 9, 66);
  cursor: pointer;
}

.back-button {
  margin-right: 13px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;

}

.next-button {
  margin-left: 5px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
}

.uber-button {
  background-color: black;
  margin-right: 4px;
  color: white;
  border: none;
  border-radius: 0.5px ;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  transition: opacity 0.3s;
  font-weight: bold;
  cursor: pointer;
}

.uber-button:hover {
  opacity: 0.79;
}

.amazon-button {
  background-color: rgb(255, 216, 20);
  margin-right: 4px;
  border: none;
  border-radius: 500px;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 7.5px ;
  padding-bottom: 7.5px;
  transition: background-color 0.2s;
  cursor: pointer;
}

.amazon-button:hover {
  background-color: rgb(236, 202, 27);
}

.github-button {
  background-color: rgb(40, 189, 82);
  border: none;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px ;
  padding-bottom: 7px;
  font-weight: bold;
  color: white;background-color: rgb(10, 102, 194);
  color: white;
  border: none;
  border-radius: 30px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: bold;
  margin-right: 5px;
  font-size: 16px;
  transition: backgtwelvth-divround-color 0.3s;
  cursor: pointer;
  cursor: pointer;
}


.github-button:hover {
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.1);
}

.bootstrap-button1 {
  background-color: rgb(121, 82, 179);
  color: white;
  border: none;
  border-radius: 4px;
  padding-left: 19.9px;
  padding-right: 19.9px;
  padding-top: 9.25px;
  padding-bottom: 9.25px;
  font-weight: bold;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.bootstrap-button1:hover {
  background-color: rgb(100, 63, 155);

}

.bootstrap-button2 {
  background-color: white;
  color: rgb(108, 117, 125);
  border-width: 0.01px;
  border-style: solid;
  border-radius: 4px;
  padding-left: 19.9px;
  padding-right: 19.9px;
  padding-top: 9.25px;
  padding-bottom: 9.25px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.bootstrap-button2:hover {
  background-color: rgb(108, 117, 125);
  color: white;
}


.Linkedln-button1 {
  background-color: rgb(10, 102, 194);
  color: white;
  border: none;
  border-radius: 30px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-weight: bold;
  margin-right: 5px;
  font-size: 16px;
  transition: backgtwelvth-divround-color 0.3s;
  cursor: pointer;
}

.Linkedln-button1:hover {
  background-color: rgb(6, 61, 116);
}


.Linkedln-button2 {
  background-color: white;
  color: rgb(41, 127, 202);
  border-color: rgb(41, 127, 202);
  font-size: 17px;
  border-width: 1px;
  border-style: solid;
  border-radius: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 9.25px;
  padding-bottom: 9.25px;
  font-weight: bold;
  cursor: pointer;
  transition: backgtwelvth-divround-color 0.3s, color 0.3s;
  transition: border-width 0.00001s;
}

.Linkedln-button2:hover {
  background-color: rgb(226, 240, 254);
  color: rgb(33, 108, 173);
  border-width: 1.4px;
}

.amazon-button1 {
  background-color: rgb(255, 216, 20);
  border: none;
  border-radius: 500px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 7.5px ;
  padding-bottom: 7.5px;
  margin-right: 2px ;
  margin-left: 4px ;
  cursor: pointer;
  transition: background-color 0.2s, opacity 0.1s;
}

.amazon-button1:hover {
  background-color: rgb(236, 202, 27);
}

.amazon-button1:active {
  opacity: 0.6;
}

.amazon-button2 {
  background-color: rgb(255, 164, 28);
  border: none;
  border-radius: 500px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 7.5px ;
  padding-bottom: 7.5px;
  margin-right: 2px ;
  margin-left: 4px ;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.1s;
  
}

.amazon-button2:hover {
  background-color: rgb(230, 144, 16);
}

.amazon-button2:active {
  opacity: 0.6;
}

.para1 {
  color: rgb(0, 113, 133);
  cursor: pointer;
  transition: color 0.11s;

}

.para1:hover {
  color: rgb(189, 124, 3);

}

.para2 {
  margin-top: 22px;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 22px;
}

.para3 {
  color: rgb(0, 118 , 0);
  font-weight: bold;
}

.subscribe-button {
background-color: rgb(223, 25, 25);
border: none;
color: white;
padding-left: 15px;
padding-right: 15px;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 3.1px;
cursor: pointer;
}

.join-button {
background-color: rgb(255, 255, 255);
color: rgb(33, 108, 173);
padding-left: 15px;
padding-right: 15px;
padding-top: 10px;
padding-bottom: 10px;
cursor: pointer;
border-radius: 3.1px;
border-color: rgb(33, 108, 173);
border-style: solid;
border-width: 1px;
}

.tweet-button {
background-color: rgb(17, 140, 241);
font-weight: bold;
color: white;
border: none;
border-radius: 50px;
padding-left: 18px;
padding-right: 18px;
padding-top: 10px;
padding-bottom: 10px;
cursor: pointer;
}

.div20 {
  display: block;
  background-color: rgb(255, 255, 255);
  margin-left: 10px;
  width: 350px;
  margin-bottom: 50px;
}

.div20-3 { 
  background-color: rgb(255, 255, 255);
  display: inline-block;
 }  

 .div20-2 {
  background-color: rgb(255, 255, 255);
  display: inline-block;
  width: 150px;
  font-family: arial;
  font-size: 12px;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 20px;
  }
  
  
  .div20-1 {
    background-color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
  }

  .all000 {
    margin-top: 20px;
    margin-bottom: 20px;
  }