.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background {
  display: flex;
  flex: 1;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.7), rgba(54, 170, 163, 0.2), rgba(115, 203, 196, 0.3), rgba(115, 203, 196, 0.5), rgba(54, 170, 163, 0.4), rgba(54, 130, 140, 0.4), rgba(54, 130, 140, 0.6), rgba(255, 255, 255, 0.9)); /* Almost solid white */
  background-size: 400% 400%;
  animation: gradientAnimation 20s ease infinite; /* Adjust duration if needed */
  z-index: -1; /* Place it behind other content */
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 50% 100%;
  }
  75% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*# sourceMappingURL=login01.css.map */
html, body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  height: 100%; /* Full height */
  overflow: hidden; /* Prevent scrolling */
  -webkit-tap-highlight-color: transparent; /* <-- this is new */
}

.all {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  height: 100vh; /* Full viewport height */
  margin: 0; /* No margin */
}

.container {
  width: 50vw;
  min-width: 280px; /* Minimum width to prevent shrinking below this */
  font-family: Nunito, Arial;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.039);
  height: 100%; /* Full height */
  margin: 0; /* No margin */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.right00 {
  visibility: hidden;
}

@media (max-width: 853px ) {

  body {
    overflow-y: scroll; /* Allow scrolling on the page */
  }

.quote {
  visibility: hidden;
}

  .all {
    grid-template-columns: 1fr;
  }

  .container {
    width: 100vw; /* Full width of the viewport */
    height: auto; /* Allow the height to expand based on content */
    min-height: 100vh; /* Ensure full height for smaller screens */
    overflow-y: auto; /* Enable scrolling if content overflows */
    margin: 0; /* No margins */
    padding: 0; /* No padding */
    position: fixed; /* Ensure it stays in place */
  }

  .text,
  .right {
    visibility: hidden;
  }

  .input {
    margin-bottom: 50px;
  }

  .right00 {
    visibility:visible;
    overflow: hidden;
    margin-top: 200px;
  }
  
}

@media (min-width: 1000px) {
  .container {
    height: auto;
    min-height: 100vh;
    overflow-y: auto; /* Enable vertical scrolling inside the container */
  }

  body {
    overflow: hidden; /* Prevent scrolling on the body itself */
  }
}

@media (max-width: 1000px) and (min-width: 910px) {
  .container {
    height: auto;
    min-height: 100vh;
    overflow-y: auto; /* Enable scrolling inside the container */
  }

  body {
    overflow: hidden; /* Prevent body scroll */
  }
}

.text {
  margin: 0;
}


.quote {
  position: relative;
  margin: 0; /* No margin */
  font-family: 'Georgia', serif;
  font-size: 50px; /* Fixed font size */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right; 
  padding: 15px; /* Fixed padding */
  padding-right: 50px; /* Left padding */
  height: 100%; /* Full height */
}

.auth.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.image {
  opacity: 0.85;
  height: 60px;
  margin: 0; /* No margin */
}

.image:hover {
  opacity: 0.7;
}

.image:active {
  opacity: 1;
}

.header-logo {
  height: 60px;
}

.h1 {
  font-size: 25px;
  margin: 0;
}

.header {
   overflow: hidden;
   position: absolute;
   top: 0;
   right: 0; 
   left: 0;
   height: 85px;
   margin-top: 40px;
}

.content {
  overflow: hidden;
  position: absolute;
  top: 105px;
  margin-top: 40px;
  left: 0;
  right: 0;
  padding-right: 6.5px;
}

.card {
  overflow: hidden;
  position: absolute;
  top: 200px;
  right: 0;
  left: 0;
}

.nun {
  display: flex;
  flex-direction: column;
  margin-top: 13px;
  position: relative;
}

.input {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 35px;
  

  input {
    background-color: rgba(211, 211, 211, 0.331);
    border: none;
    margin-bottom: 15px;
    padding: 20px 86px 20px 10px;
    font-size: 15px;
    border: 1px solid transparent; /* Set initial border to transparent */
    border-radius: 5px;
    width: 100%;
    transition: border-color 0.4s ease, border-width 0.4s ease; /* Add transition */
  }

  input:-webkit-autofill {
    background-color: rgba(211, 211, 211, 0.331) !important; /* Match your background color */
    box-shadow: 0 0 0 30px rgba(211, 211, 211, 0.331) inset; /* Prevent autofill color change */
    -webkit-text-fill-color: rgb(0, 0, 0); /* Set your desired text color */
  }

  input:focus {
    outline: none;
    outline-style: none;
    border: solid;
    border-color: rgba(0, 0, 0, 0.435);
    border-width: 1px;
  }

  .h3 {
    margin: 0;
    text-align: left;
    margin-bottom: 15px;
    font-size: 16px;
  }

  #h3 {
    margin-top: 20px;
  }

  .container-1,
  .container-2 {
    display: flex;
    flex-direction: row;
    margin: 0px;
    position: relative;
  }

 

  

} 

.end {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
}


.login-in-button {
  overflow: hidden;
  background-color: rgba(91, 91, 91, 0.106);
  backdrop-filter: blur(100px); /* Adjust blur level */
  font-weight: bold;
  font-family: Nunito, Arial;
  font-size: 15px;
  padding: 10px 30px 10px 30px;
  margin-bottom: 20px;
  margin-top: 25px;
  border: 1px solid transparent; /* Set initial border to transparent */
  border-radius: 2px;
  border-width: 1px;
  color: black;
  transition: background-color 0.25s, padding 0.55s; /* Add transition */
  white-space: nowrap;
  cursor: pointer;
}

.login-in-button:hover {
  background-color: rgba(118, 118, 118, 0.192);
  padding: 10px 100px 10px 100px;
  white-space: nowrap;
  outline: none;
  outline-style: none;
}

.login-in-button:active {
  background-color: rgba(118, 118, 118, 0.3);
  white-space: nowrap;
  outline: none;
  outline-style: none;
}

.right {
  font-family: Nunito, Arial;
  font-size: 15px;
  margin-top: 50px;
  padding-left: 7px;
}

.sit0,
.sit {
  font-weight: 1000;
  transition: color 0.25s ease;
}

.sit0:hover {
  color: rgb(52, 164, 162);
  text-decoration: underline;
  text-decoration: underline;
  cursor: pointer;
}

.sit:hover {
  color: rgb(52, 164, 162);
  text-decoration: underline;
  text-decoration: underline;
  cursor: pointer;
}



input {
  color: rgba(55, 55, 55, 0.829);
}

.star0 {
  display: flex;
  flex: 1;
  position: relative;
}

#email,
#password {
  margin-bottom: 0;
}

#email {
  padding-right: 45px;
}

.container-1 i {
  position: absolute;
  bottom: 40%;
  right: 20px;
} 

.star0 i {
  position: absolute;
  bottom: 40%;
  right: 20px;
}



.show-password-btn {
  position: absolute;
  bottom: 38%;
  right: 47px;
  padding: 0;
  opacity: 0; /* Start hidden */
  transition: opacity 0.2s ease; /* Smooth transition */
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
  pointer-events: none; /* Prevent interaction when hidden */
}

/* Add this to your CSS file */
.fa-lock, .fa-unlock {
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.fa-lock {
  opacity: 1;
}

.fa-unlock {
  opacity: 1;
}



