body {
    height: 3000px;
}

.b14 {
    background-color: green;
    color: white;
    position: fixed;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 100px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.58);
    position: fixed;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.p0 {
padding-left: 10px;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 130px;
border-radius: 5px;
}

.p1, .p2, .p3 {
    font-family: arial;
}

.p1 {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
}

.p2 {
    font-size: 10px;
    margin-bottom: 8px ;
}

